@import 'vars.scss';

.container {
  height: 52px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.wrap {
  display: flex;
  max-width: calc($container-width + 32px);
  margin: {
    left: auto;
    right: auto;
  };
}

.logo {
  padding: 0 16px;
  font-size: 32px;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: #565273;
  font-family: inherit;
}

.nav-links {
  font-size: 14px;
  display: flex;
}

.nav-link {
  font-size: 16px;
  height: 100%;
  line-height: 52px;
  padding: 0 16px;
  &.active {
    font-weight: 700;
  }
}

.options {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.option-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 14px;
}
